// Specific CSS for your home-page
.container-white {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 70px 0px 50px 0px;
  }

.description {
  padding: 0px 30px;
}

h1{ position:relative; }
h1 span{ position:absolute; top:-95px;}

.card {
  padding: 0px 30px;
}

.profil-img {
  border-bottom-color: $blue;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-right-color: $blue;
  border-right-style: solid;
  border-right-width: 15px;
  border-radius: 6px;
}

.container-blue {
  background-color: rgba(28, 77, 242, 0.15);
  padding: 50px 0px 50px 0px;
}

.contact {
  text-align: center;
}

.fa-envelope, .fa-mobile{
  color: $blue;
}

img {
  border-radius : 6px 0px 0px 0px ;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  width: 45%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;

}

// mobile
@media(max-width:750px) {
  .container-white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .card {
    padding: 0px 30px;
  }
  .description {
  padding: 30px;
  }

.profil-img {
  border-bottom-color: $blue;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-right-color: $blue;
  border-right-style: solid;
  border-right-width: 15px;
  width:315px;
  border-radius: 6px;
}
.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}

}
