// Specific CSS for your home-page
.container-white {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 2.5rem 100px 2.5rem;
  }

.description {
  padding: 0px 30px;
  width: 50%;
}

h1{ position:relative; }
h1 span{ position:absolute; top:-95px;}

.card {
  padding: 0px 30px;
  width: 50%;
}
.profil-img {
  text-align: center;
}

.container-blue {
  background-color: rgba(28, 77, 242, 0.15);
  padding: 50px 0px 50px 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa-envelope {
  color: $blue;
  padding: 5px;
    }

  .fa-mobile {
  color: $blue;
  font-size: 30px;
  padding: 5px;
}

p {
  margin:0px;
}

img {
  border-radius : 6px ;
  border-bottom-color: $blue;
  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-right-color: $blue;
  border-right-style: solid;
  border-right-width: 15px;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  width: 45%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}

.container-grey {
  background-color: rgb(240, 240, 240);
  padding: 100px 0rem;  display: flex;
  flex-direction: row;
  justify-content: center;
}

.go-button {
  border: 2px rgba(26, 83, 233,0.7);
  color: white;
  background-color: rgba(26, 83, 233,0.7);
  border-radius: 50px;
  margin: 10px;
  padding: 10px 30px;
  transition: color 0.2s 0.3s, background-color 0.3s ease-in-out, width 0.3s;
  &:hover {
    background-color: rgba(26, 83, 233,0.9);
    color: white;
    border: 2px rgba(26, 83, 233,0.9);
  }
}
.content {
  width: 70% ;
  text-align: center;

}
.card {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 20px;

}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card:hover{
    height:350px;
}



// mobile
@media(max-width:750px) {
  .container-white {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 50px 0px;
  }
  .card {
    // padding: 0px;
    width: 100%;

  }
  .description {
  // padding: 0px;
  width: 100%;
  padding: 0px 30px 50px 30px

  }
.container-grey {
  padding: 50px 0px 50px 0px;
}
.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
}

}
