<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Adrirules"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/AdrienRules"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/adrien-zafiropoulos"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright  hidden-xs">
    <p><%= t "footer.love1" %> <i class="fa fa-heart"></i> <%= t "footer.love2" %> </p>
  </div>
</div>
