<div class="navbar-wagon">
  <!-- Logo -->
  <h2>Adrien Zafiropoulos</h2>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right ">

    <a href="#about" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
  </div>

</div>
