<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
    <a href="#up" class="navbar-wagon-item navbar-wagon-link"><h2>Adrien Zafiropoulos</h2></a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right ">

    <a href="#about" class="navbar-wagon-item navbar-wagon-link">ABOUT</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">CONTACT</a>
  </div>
</div>
