<div id="home" class="wrapper">
  <div id="up" class="home-banner">
      <div class="bg-white">
      <h1>Freelance Developer</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
  </div>
  <div class="container-white">
    <div  class="description">
      <h1> <span id="about"></span>Full stack Developer, Web developpement </h1>
      <p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
    </div>
    <div class="card">
      <div class="profil-img">
        <%= cl_image_tag("Adrien-zafiropoulos.jpg", height: 300, width: 300, crop: :fill )  %>
      </div>
    </div>
  </div>

  <div class="container-blue">
    <div class="contact">
      <div class="title">
        <h1> <span id="contact"></span>Contact</h1>
      </div>
      <div class="content">
        <p><i class="fa fa-envelope"> <br></i>adrien.zafiropoulos@gmail.com</p>
        <p><i class="fa fa-mobile"></i> +33(0)627139601</p>
      </div>
    </div>
  </div>
</div>
