<div id="home" class="wrapper">

  <div id="up" class="home-banner">
    <div class="bg-white">
      <h1>Freelance Developer</h1>
      <p><span id="banner-typed-text"></span></p>
    </div>
    <div>
      <section id="section10" class="demo">
        <a href="#about"><span></span></a>
      </section>
    </div>
  </div>

  <div class="container-white" id="about">
    <div  class="description" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">
      <h1></span>Full stack Developer, Web developpement </h1>
      <p>9-week intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku and Ruby on Rails.</p>

    </div>
    <div class="card">
      <div class="profil-img" data-aos="fade-up">
        <%= cl_image_tag("0013_13-Adrien_Zafiropoulos.jpg", height: 300, width: 300, crop: :fill )  %>
      </div>
    </div>
  </div>

  <div class="container-grey" id= "work">
    <div class="content" data-aos="fade-up">
      <div class="title">
        <h1> How can we work together ?</h1>
      </div>
      <div>
        <p>I currently accept new projets and would love to hear about yours. I am a full-stack developer, which means I'm able to deliver complete projects, from the initial thinking to the online release. Please take a few minutes to fill out this form
        </p>
        <button class ="go-button"> Let's go </button>
      </div>
    </div>
  </div>

  <div class="container-blue" id="contact">
    <div class="contact content" data-aos="fade-up">
      <div class="title">
        <h1> Contact</h1>
      </div>
      <div>
        <p><i class="fa fa-envelope"> <span>   </span><br></i>adrien.zafiropoulos@gmail.com</p>
        <p><i class="fa fa-mobile"></i> +33(0)627139601</p>
      </div>
    </div>
  </div>

</div>
